################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BOMBERMAN/v15
/BOMBERMAN/BOMBERMAN.APS
/BOMBERMAN/BOMBERMAN.vcxproj
/BOMBERMAN/BOMBERMAN.vcxproj.user
/BOMBERMAN/BOMBERMAN.vcxproj.filters
/BOMBERMAN.v12.suo
/BOMBERMAN/Debug
/Debug
